/*******************************
* CSS for the OUR MISSION page *
********************************/
#mission, #team {
    margin-left: 8vw;
    margin-right: 8vw;
    padding-bottom: 50px;
    border-top: solid 1px lightgrey;
    padding-top: 30px;
}
#team {
    margin-bottom: 30px;
}
h2 {
    margin-left: 8vw;

}
p {
    font-size: 18px;
}
.profile {
    text-align: center;
}
.profile-pic { 
    /*will need to crop pictures into squares before inserting*/
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-top: 30px;
}

/*FOR PHONES*/
@media only screen and (max-device-width : 600px) {
    h2 {
        margin-top: 0px;
        margin-left: 0px;
    }
    p {
        font-size: 15px;
    }
}