/**************************
* CSS for the EVENTS page *
***************************/
h2 {
    margin-left: 7vw;
    margin-top: 40px;
}
.events-sidebar {
    position: fixed;
    top: 135px;
    right: 3vw;
    border-left: solid lightgrey 2px;
    padding: 20px 0 20vh 25px;
    width: 18vw;
}
#calendar-overview {
    margin-left: 8vw;
}
.calendar {
    border: solid 1px #ffffff;
    width: 60vw;
    height: 40vw;
}