#welcome-screen {
    margin-top: 60px;
    padding-top: 260px;
    padding-bottom: 170px;
    border-left: 0px;
    text-align: center;
    font-weight: bolder;
    background-image: linear-gradient(rgb(170, 39, 39), rgb(210, 77, 77), rgb(242, 170, 170));
    color: white;
    position: relative;
}
.form-inline {
    margin-left: 50vw;
    margin-top: 110px;
    margin-bottom: 30px;
    transform: translate(-50%, 0);
    width: 223px;
    font-size: medium;
    font-weight: lighter;
}
#inputEmail {
    margin-top: 15px;
    font-size: small;
}
.btn {
    margin-top: 15px;
    font-size: small;
}
.btn:active, .btn.active, .btn:hover{
    color: rgb(170, 39, 39) !important;
}
.arrow {
    position: absolute;
    bottom: 30px;
    border-color: white;
}