/************************
* CSS for the home page *
*************************/
:root {
    --main-color: rgb(167, 40, 40);
}
#welcome-screen {
    margin-top: 60px;
    padding-top: 275px;
    padding-bottom: 260px;
    border-left: 0px;
    text-align: center;
    font-weight: bolder;
    color: white;
    position: relative;
    overflow: hidden;
    text-shadow: 2px 7px 7px rgba(0, 0, 0, 0.24);
}
.equation-bg, .gradient-bg {
    position: absolute;
    width: 100%;
    min-width: 1300px;
    z-index: -1;
}
.equation-bg {
    opacity: 0.7;
    top: 10px;
    left: 50%;
    transform: translate(-50%,0);
}
.gradient-bg {
    background-image: linear-gradient(var(--main-color), rgb(210, 77, 77), rgb(242, 170, 170));
    height: 800px;
    top: 0;
    left: 0;
}
#join-button {
    border: solid white 2px;
    font-size: medium;
    color: white;
    background-color: rgba(0,0,0,0);
    padding: 10px;
    left: 50vw;
    margin-top: 50px;
    border-radius: 5px;
    transition-duration: 0.4s;
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.24);
}
#join-button:hover {
    background-color: white;
    color: rgba(170, 39, 39);
}
#join-button:focus {
    outline-color: rgba(170, 39, 39, 0.5);;
}
.arrow { /*just for positioning and colouring the arrow (css for drawing the arrow is in main.css)*/
    position: absolute;
    bottom: 40px;
    border-color: white;
}
#upcoming-events {
    padding: 110px 8vw 110px 8vw;
}
.card { /*event cards*/
    margin-top: 30px;
    transition-duration: 0.4s;
    text-decoration: none;
    color: black;
}
.card-img-top { 
    height: 230px;
}
.card:hover {
    box-shadow: 0 15px 10px 0 rgba(0, 0, 0, 0.24);
    color: black;
}


