#welcome-screen {
    margin-top: 60px;
    padding-top: 230px;
    padding-bottom: 150px;
    border-left: 0px;
    text-align: center;
    font-weight: bolder;
    background-color: rgb(187, 56, 56);
    color: white;
}
#newsletter-form{
    
}
.form-inline {
    margin-left: 50vw;
    transform: translate(-50%, 0);
    width: 315px;
    padding-top: 100px;
    font-size: medium;
}
#inputEmail {
    margin-top: 15px;
    font-size: small;
    border-radius: 0;
}
.btn {
    margin-top: 15px;
    border-radius: 0;
    font-size: small;
    background-color: rgb(187, 56, 56);
    color: white;
}