/***************************************
* CSS applicable to all/multiple pages *
****************************************/
@font-face {
    font-family: 'dosis';
    src: url(fonts/Dosis-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
:root {
    --main-color: rgb(167, 40, 40);
}
body {
    font-family: dosis, Roboto, Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    font-weight: bolder;
    font-size: 80px;
}
h2 {
    font-weight: bolder;
    font-size: 55px;
    margin-bottom: 30px;
    color: var(--main-color);
}
h3 {
    margin-bottom: 30px;
    font-size: 40px;
    color: rgb(167, 50, 50);
    font-weight: bold;
}
h6 {
    color: grey;
    font-weight: bolder;
}
a:hover {
    text-decoration: none;
}
.bg-logo {
    height: 100%;
    width: auto;
    min-height: 500px;
    position: fixed;
    top: 56vh;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0.07;
    z-index: -3;
}
.logo {
    width: 50px; 
    padding-right: 5px;
}
.heading { /*entire heading*/
    border-bottom: solid 1px;
    border-color: rgba(140, 140, 140, 0.5);
    background-color: white !important;
    font-size: 18px;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.24);
    font-weight: bold;
}
.navbar-nav .nav-item .nav-link {
    transition-duration: 0.3s;
}
.navbar-light .navbar-nav .active>.nav-link, 
.navbar-light .navbar-nav .nav-link.active, /*name of page that we are currently on*/
.navbar-nav .nav-item:hover .nav-link /*page user is hovering over*/{ 
    color: var(--main-color);
}
.navbar-light .navbar-nav .nav-link { /*names of pages that we are not currently on (heading)*/
    color: rgba(159, 31, 31, .5);
} 
.navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler-icon:focus, .btn:active, .btn:hover {
    /*so that no outline appears when you click on the hamburger and buttons*/
    outline: none !important;
} 
.navbar-toggler-icon { /*the hamburger (heading)*/
    width: 25px;
}
.arrow-down {
    border: solid black;
    border-width: 0 2px 2px 0;
    padding: 10px;
    transform: translate(-50%, 0) rotate(45deg);
}
.link { /*for the red link/whatever the main colour is*/
    color: rgb(228, 77, 77);
}
.link:hover {
    color: var(--main-color);
    text-decoration: underline;
}
.footer { /*entire footer div*/
    background-color: var(--main-color);
    padding-top: 30px; 
    padding-bottom: 55px;
    text-align: center;
    font-size: 16px;
    position: relative;
}
.footer-link { /*the transparent white links in the footer*/
    color: white;
    margin: 30px;
    transition-duration: 0.3s;
}
.footer-link:hover {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: underline;
}
.socials { /*div with social media widgets*/
    margin-bottom: 5px;
}
.icon { /*social media widget*/
    height: 20px;
    margin: 8px;
    transition-duration: 0.3s;
}
.icon:hover {
    opacity: 0.6;
}
#credit {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: left;
    color: rgba(255, 255, 255, 0.4);
    border-top: solid 1px rgba(255, 255, 255, 0.5);
    font-size: 12px;
}

/*FOR PHONES*/
@media only screen and (max-device-width : 600px) {
    body {
        text-align: center;
    }
    h1 {
        font-size: 60px;
    }
    h2 {
        font-size: 40px;
    }
    h3 {
        font-size: 30px;
    }
    h5 {
        font-size: 18px;
    }
    p, h6{
        font-size: 15px;
    }
    .heading {
        box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.24);
    }
    .bg-logo {
        height: 550px;
    }
    .logo {
        width: 50px;
    }
    .footer {
        padding-top: 30px;
        padding-bottom: 55px;
        font-size: 14px;
    }
    .socials {
        margin-bottom: 10px;
    }
}