/***************************************
* CSS applicable to all/multiple pages *
****************************************/
:root {
    --main-color: rgb(167, 40, 40);
}
body {
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    font-size: 80px;
}
h2 {
    font-size: 55px;
    margin-bottom: 70px;
    color: rgb(170, 39, 39);
    font-weight: bold;
}
h6 {
    color: grey;
    font-weight: normal;
}
.logo {
    width: 60px; 
    padding-right: 5px;
}
.heading { /*entire heading*/
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: rgba(140, 140, 140, 0.5);
    background-color: white !important;
    font-size: 19px;
}
.navbar-light .navbar-nav .active>.nav-link { /*name of page that we are currently on (heading)*/
    color: var(--main-color);
} 
.navbar-light .navbar-nav .nav-link { /*names of pages that we are not currently on (heading)*/
    color: rgba(159, 31, 31, .5);
} 
.navbar-nav .nav-item:hover .nav-link { /*when hovering over page names (heading)*/
    color: var(--main-color);
} 
.navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler-icon:focus {
    /*so that no outline appears when you click on the hamburger (heading)*/
    outline: none;
} 
.navbar-toggler-icon { /*the hamburger (heading)*/
    width: 30px;
}
.dropdown-item { /* about us dropdown items*/
    color: var(--main-color);
}
.dropdown-item:active, .dropdown-item:hover {
    color: var(--main-color);
    background-color: rgb(242, 242, 242);
}

.dropdown-toggle:focus .dropdown-toggle:active{
    color: var(--main-color);
}
.btn:active, .btn:hover{
    outline: none !important;
}
.arrow { /*draws diamond that can be turned into arrow (put here in case we want to use more arrows*/
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 10px;
    transform: translate(-50%, 0);
}
.down { /*makes an arrow face down*/
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.link { /*for the red link/whatever the main colour is*/
    color: var(--main-color);
}
.link:hover {
    color: rgb(215, 82, 82);
}
.footer { /*entire footer div*/
    background-color: var(--main-color);
    padding: 40px;
    text-align: center;
    font-size: 13px;
}
.footer-link { /*the transparent white links in the footer*/
    color: rgba(255, 255, 255, 0.5);
    margin: 30px;
}
.footer-link:hover {
    color: white;
}
.socials { /*div with social media widgets*/
    margin-bottom: 20px;
}
.icon { /*social media widget*/
    width: 25px;
    margin: 8px;
}