body {
    font-family: Roboto, Geneva, Tahoma, sans-serif;
}
h1 {
    font-size: 80px;
}
h2 {

}
.logo {
    width: 70px; 
    padding-right: 5px;
}
.heading { /*entire heading*/
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: rgba(140, 140, 140, 0.5);
    background-color: white !important;
    font-size: 16px;
}
.navbar-brand { /*club name (heading)*/
    font-size: 25px !important;
    font-weight: bold;
    padding-bottom: 0px;
    color: rgb(159, 31, 31) !important;
}
.navbar-light .navbar-nav .active>.nav-link { /*name of page that we are currently on (heading)*/
    color: rgb(159, 31, 31);
} 
.navbar-light .navbar-nav .nav-link { /*names of pages that we are not currently on (heading)*/
    color: rgba(159, 31, 31, .5);
} 
.navbar-nav .nav-item:hover .nav-link { /*when hovering over page names (heading)*/
    color: rgb(159, 31, 31);
} 
.navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler-icon:focus {
    /*so that no outline appears when you click on the hamburger (heading)*/
    outline: none;
} 
.navbar-toggler-icon { /*the hamburger (heading)*/
    width: 20px;
}
.arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 10px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}